
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/images/banner/banner1-1519x600.jpg" />
            </li>
            <li>
                <img src="~/images/banner/banner2-1519x600.jpg" />
            </li>
            <li>
                <img src="~/images/banner/banner3-1519x600.jpg" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>